<!--
  Author:    Joshua Lipio
  Date:      9/27/2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Joshua Lipio - This work may not be copied for use in Academic Coursework.

  I, Joshua Lipio, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Learning Outcome Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p> <a asp-controller="CourseInstances" asp-action="Index"> Update Course Instances</a> </p>
        <p> <a asp-controller="LearningOutcomes" asp-action="Index">Update Learning Outcomes</a> </p>
        <p> <a asp-controller="Home" asp-action="Roles">Role Change Page</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Department Chair</h2>
        <p> <a asp-controller="CourseInstances" asp-action="DepartmentOverview"> Overview of Program</a> </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Professor</h2>
        <p> <a asp-controller="CourseInstances" asp-action="InstructorCourses" asp-route-id=@User.Identity.Name>See my Courses</a> </p>
        <p> <a asp-controller="CourseInstances" asp-action="Details" asp-route-id=5>See course page generated using razor</a> </p>
    </div>
</div>

